<div class="signup-container">
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title> Signup </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        class="signup-form"
        novalidate
        (submit)="onSubmit()"
        [formGroup]="signupForm"
        *ngIf="!showOtp"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            formControlName="firstName"
          />
          <mat-error *ngIf="controls.firstName.hasError">{{
            "REQUIRED_FIRST_NAME" | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" />
          <mat-error *ngIf="controls.lastName.hasError">{{
            "REQUIRED_LAST_NAME" | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="controls.email.hasError">{{
            "REQUIRED_VALID_EMAIL" | translate
          }}</mat-error>
        </mat-form-field>
        <div class="signup-btn">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="signupForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>

      <div *ngIf="showOtp">
        <p>Enter OTP send to registered Email</p>
        <form
          class="signup-form"
          novalidate
          (submit)="onSubmitOtp()"
          [formGroup]="otpForm"
        >
          <mat-form-field>
            <input matInput placeholder="OTP" formControlName="otp" />
            <mat-error *ngIf="otpForm.controls.otp.hasError">{{
              "REQUIRED_OTP" | translate
            }}</mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="otpForm.invalid"
          >
            Create account
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
