<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/profile']" routerLinkActive="active"
        >Profile</a
      >
    </mat-nav-list>
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select [(ngModel)]="selectedLang" (selectionChange)="changeLang()" name="lang">
        <mat-option *ngFor="let lang of languages" [value]="lang.value">
          {{lang.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>employee-managment</span>

    </mat-toolbar>
    <mat-card>
      <mat-card-header> Profile </mat-card-header>
      <form [formGroup]="profileForm" class="profile-form">
        <mat-form-field>
          <input matInput placeholder="Date of birth" formControlName="dob" />
          <mat-error *ngIf="controls.dob.hasError"
            >{{'REQUIRED_DATE_OF_BIRTH'|translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date of joining" formControlName="doj" />
          <mat-error *ngIf="controls.doj.hasError"
            >{{'REQUIRED_DATE_OF_JOINING'| translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Expereince"
            type="number"
            min="0"
            max="60"
            formControlName="experience"
          />
          <mat-error *ngIf="controls.experience.hasError"
            >{{'REQUIRED_EXPERIENCE'| translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Phone"
            formControlName="phone"
            pattern="^([0-9]{10})$"
          />
          <mat-error *ngIf="!controls.phone.hasError('pattern') && controls.phone.hasError"
            >{{'REQUIRED_PHONE_NUMBER'| translate}}</mat-error
          >
          <mat-error *ngIf="controls.phone.hasError('pattern')"
            >{{'REQUIRED_VALID_PHONE_NUMBER'| translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hobbies" formControlName="hobbies" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Blood Group"
            formControlName="bloodGroup"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address" />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="profileForm.invalid"
        >
          Submit
        </button>
      </form>
    </mat-card>
  </mat-sidenav-content></mat-sidenav-container
>
