.login-card {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  transform: translateY(150px);

  .mat-card-header{
    justify-content: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-btn {
    display: flex;
    justify-content: space-between;
  }
}
